#!/bin/sh
exec 2>&1
<%= render("mount_point_check.erb") %>
umask 077
exec chpst -P -U <%= node['redis']['username'] %>:<%= node['gitlab']['user']['group'] %> -u <%= node['redis']['username'] %>:<%= node['gitlab']['user']['group'] %> /opt/gitlab/embedded/bin/redis_exporter <%= @options[:flags] %>
