#!/bin/bash
set -e # fail on errors

# Redirect stderr -> stdout
exec 2>&1

cd <%= @options[:dir] %>

exec chpst -P \
-U <%= @options[:user] %>:<%= @options[:groupname] %> \
-u <%= @options[:user] %>:<%= @options[:groupname] %> \
/opt/gitlab/embedded/bin/consul agent -config-file <%= @options[:config_file] %> \
  -config-dir <%= @options[:config_dir] %> -data-dir <%= @options[:data_dir] %>
